<a href="https://colab.research.google.com/github/sandeeptuluri/fresh1/blob/main/Test_Classification_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/sandeeptuluri/fresh1/main/Data%20extract%20for%20Sandeep.csv')
df.head()

      id  ...      topicName
0  26696  ...     Technology
1  26694  ...       Politics
2  26693  ...       Politics
3  26692  ...  North America
4  26690  ...       Politics

[5 rows x 4 columns]

In [ ]:
df.isnull().sum()

id           0
summary      0
topicID      0
topicName    0
dtype: int64

In [ ]:
df.topicName.nunique()

29

In [ ]:
df.describe()

                 id       topicID
count  12802.000000  12802.000000
mean   18746.503359      9.722231
std     4643.310327      6.670339
min    10858.000000      2.000000
25%    14614.250000      5.000000
50%    18707.500000      7.000000
75%    22829.750000     14.000000
max    26696.000000     33.000000

In [ ]:
df['summary'] = df['summary'].apply(lambda summary: (summary).lower())

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df['summary']
y = df['topicID']

SyntaxError: ignored

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=101)

In [ ]:
y_train.shape

(8961,)

In [ ]:
import tensorflow as tf

In [ ]:
import tensorflow_hub as hub

In [ ]:
embedding = "https://tfhub.dev/google/nnlm-en-dim50/2"
hub_layer = hub.KerasLayer(embedding, input_shape=[], 
                           dtype=tf.string, trainable=True)
#hub_layer(train)

Building the Model...

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(hub_layer)
model.add(Dense(16, activation='relu'))
model.add(Dense(1))

In [ ]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
history = model.fit(X_train,y_train,epochs=10,validation_data=(X_test,y_test),verbose=1)

Epoch 1/10
281/281 [==============================] - 158s 562ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 2/10
281/281 [==============================] - 158s 563ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 3/10
281/281 [==============================] - 159s 566ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 4/10
281/281 [==============================] - 159s 565ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 5/10
281/281 [==============================] - 159s 565ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 6/10
281/281 [==============================] - 161s 573ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 7/10
281/281 [==============================] - 162s 576ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 8/10
281/281 [==============================] - 160s 569ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 9/10
281/281 [==============================] - 162s 578ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00
Epoch 10/10
281/281 [==============================] - 161s 573ms/step - loss: 1.1599e-06 - accuracy: 0.0000e+00 - val_loss: 1.1569e-06 - val_accuracy: 0.0000e+00

In [ ]:
loss = model.history.history

In [ ]:
loss

{'accuracy': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 'loss': [1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06,
  1.1598727951422916e-06],
 'val_accuracy': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 'val_loss': [1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06,
  1.1568981790333055e-06]}

In [ ]:
predictions = model.predict(X_test)

In [ ]:
model.metrics_names

['loss', 'accuracy']

In [ ]:
a = X_test[: 10 :]

In [ ]:
a

5621    yeimo, a papuan activist was arrested and char...
3737    despite the surge in infections among young pe...
Name: summary, dtype: object

In [ ]:
model.predict(a)

array([[-0.27528095],
       [-0.36409616],
       [-0.3638059 ],
       [-0.39970925],
       [-0.43399236],
       [-0.0152904 ],
       [-0.30917475],
       [-0.22706847],
       [-0.33879825],
       [-0.01623777]], dtype=float32)